body{
    background-color: #404040;
    font-size: 1em;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

a {
    color: white; 
}

#header {
    height: 4.5em;
    background: #222;
    color: white;
    padding-left: 4%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
  }

#main {
    min-height: calc(100vh - 19.2em);
}

#mainCadLog {
    min-height: calc(100vh - 15.5em);
}

#footer {
    background: #222;
    text-align: center;
    padding: 0.5em; 
    margin-top: auto; 
    bottom: 0;
    position: fixed;
    width:100%;
}

#logo {
    text-decoration: none; 
    color: white;
    display: flex; 
    align-items: center;
}

.container {
    text-align: center;
    flex: 1;
    display: flex; 
    justify-content: center;
}

.containerCadLog {
    text-align: center;
    flex: 1;
}

.containerLogo{
    text-align: left;
    justify-content: left;
}

.containerBtn{
    text-align: center;
    display: flex; 
    justify-content: center;
}

.containerLista{
    position: relative;
    text-align: center;
    margin-top: 2em;
}
.containerLista ul li{
    list-style-type: none;
}
.BGText {
    background: linear-gradient(to right, #fa794f, #f54374);
    display: inline;
    background-clip: text; 
    color: transparent; 
}

.texto {
    margin-left: 4%;
    margin-top: 4%;
    justify-content: center;
    text-align: left;
    font-size: 1em;
}

.texto p {
    margin: 0;
    max-width: 60%;
    font-size: 1.2em;
}

.Download{

    width: 13em;
    height: 4em;
    padding: 1em;
    background-color: rgb(40, 133, 32);
    border-width: 0.15em;
    border-radius: 3%;
    position: absolute;

    margin-top: 2%;
    margin-left: 74%;

    font-family: "OCR A Std", monospace;
    font-size: 1em;
    line-height: 2em;
}

.Download:hover{
    background-color: rgb(171, 230, 60);
}

.imgDownload{
    float: right;
    width: 3.2em;
    height: 3.2em;

    position: relative;
    top: -0.7em;
}

.login-cadastro-btn{
    background-color: transparent;
    color: white;
    margin-top: 0.3em;
    padding: 0.8em 2em;
    margin-top: 0%;
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    font-size: 1.25em;
    transition: background-color 0.3s ease;

  }
  
.login-cadastro-btn:hover {
    background-color: #356637;
  }

#propaganda {

    width: 20em; 
    height: 15em;
    position: absolute;
    margin-top: 8%;
    margin-left: 70%;
}

#btnPropaganda {
    width: 5em; 
    height: 5em;
    position: absolute;
    margin-top: 13%;
    margin-left: 78%;
}


.caixaCadastrar{
    width: 12em;
    height: 15em;
    background-color: rgb(219, 219, 219);
    color: #222;
    border-width: 0.25em;
    border-style: solid;
    border-color: rgb(207, 199, 199);
    position: absolute;
    padding: 1%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.caixaLogar{
    width: 12em;
    height: 8em;
    background-color: rgb(219, 219, 219);
    color: #222;
    border-width: 0.25em;
    border-style: solid;
    border-color: rgb(207, 199, 199);
    position: relative;
    padding: 1%;

    margin-top: 10%;
    margin-left: 43%;
    /*top: 50%;
    left: 50%;*/
    /*transform: translate(-50%, -77%);*/
    /*transform:translate(-50%, 75%);*/
}
.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
 }
.hidden{
    display: none !important;
}